:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.font__merriweather {
  font-family: "Merriweather", serif;
}

.font__montserrat {
  font-family: "Montserrat", sans-serif;
}

/*! ------------------------------- */

.login {
  position: relative;
  height: 70vh;
  display: grid;
  align-items: center;
  /* background: #000; */
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  /* border: 2px solid hsla(0, 0%, 100%, .7); */
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  /* background-color: rgba(128, 128, 128, 0.796); */
  /* background-image: url(https://i.ibb.co/k4RmHGh/panorama-luxury-living-room-generative-ai-587448-2069.jpg); */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.7749474789915967) 48%, rgba(43, 0, 255, 0.362) 100%);
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check,
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .login__title {
    margin-bottom: 2rem;
  }
}

/*! ------------------------------- */

/* slider */
.first_slider {
  background-size: cover;
  background: linear-gradient(to right, rgba(54, 50, 50, 0.577), rgba(0, 0, 0, 0)), url("https://i.ibb.co/1qdBwnB/bgOne.jpg");
  ;
}

.second_slider {
  background-size: cover;
  background: linear-gradient(to right, rgba(54, 50, 50, 0.543), rgba(0, 0, 0, 0)), url("https://i.ibb.co/v4ytJpB/bgThree.jpg");
  ;
}

.third_slider {
  background-size: cover;
  background: linear-gradient(to right, rgba(54, 50, 50, 0.577), rgba(0, 0, 0, 0)), url("https://i.ibb.co/CnQghbm/bgTwo.jpg");
  ;
}

.bg_btn_color {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.7749474789915967) 48%, rgba(43, 0, 255, 0.362) 100%);
}

.footer_bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.562062324929972) 46%, rgba(0, 0, 0, 0.5732668067226891) 100%);
}